{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if bag_items %}
<div class="container-fluid">
    <div id="bag-title" class="bag-title border-bottom m-2 px-3">
        <h2 class="mt-4">Shopping Bag</h2>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="col px-3">
        <div class="table-responsive">
            <table class="table table-borderless">
                {% for item in bag_items %}
                <tr class="border-bottom">
                    <td class="py-4">
                        <div class="product-name my-2">
                            <h5 class="bag-item-name">{{ item.product.name }}</h5>
                        </div>
                        <div class="d-flex justify-content-between">
                            <a class="remove-item text-danger btn btn-link p-0" data-item_id="{{ item.item_id }}">
                                <small>Remove</small></a>
                        </div>
                    </td>
                    <td class="bag-item-table-cell py-4">
                        <div class="course-length-title text-center my-2">
                            <h6>Course Length</h6>
                        </div>
                        <div class="course-length text-center">
                            <p class="">{{ item.product.course_length }} hours</p>
                        </div>
                    </td>
                    <td class="bag-item-table-cell py-4">
                        <div class="product-price-title text-end my-2">
                            <h6>Price per course</h6>
                        </div>
                        <div class="product-price text-end">
                            <p>£{{ item.product.price }}</p>
                        </div>
                    </td>
                    
                </tr>
                {% endfor %}
                <tr class="text-end border-top-0">
                    <td></td>
                    <td></td>
                    <td class="p-3 text-end">
                        <h4 id="total">Total: £{{ total|floatformat:2 }}</h4>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td class="text-end w-100">
                        <a href="{% url 'courses' %}" class="btn btn-outline-success rounded-0 m-1">
                            BACK TO COURSES</a>
                        <a href="{% url 'checkout' %}" class="btn btn-outline-success rounded-0 m-1">
                            SECURE CHECKOUT</a>
                    </td>
                </tr>
            </table>
        </div>
        {% else %}
        <div class="empty-bag my-3 py-5">
            <h3 class="text-center">Your bag is empty</h3>
            <p class="text-center">
                <a href="{% url 'index' %}" class="footer-links">
                    <span class="text-uppercase">&laquo; Back to Home &raquo;</span>
                </a>
            </p>
        </div>

        {% endif %}
    </div>
</div>

{% endblock %}

{% block postload_js %}

{{ block.super }}

<script>
    var removeLinks = document.getElementsByClassName('remove-item')
    for (let removeLink of removeLinks) {
        removeLink.onclick = function () {
            var csrfToken = "{{ csrf_token }}";
            var itemId = this.dataset.item_id;
            var url = `/bag/remove/${itemId}/`;

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: new URLSearchParams({
                    csrfmiddlewaretoken: csrfToken
                })
            }).then(() => location.reload())
        }
    }
</script>
{% endblock %}