{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if total %}
<div class="container-fluid">
    <div class="row w-100 bag-items d-flex justify-content-center bg-success">
        <div class="col-12 text-center bg-white p-2">
            <a class="footer-links p-2 text-center" href="{% url 'bag' %}">View Bag
                <ion-icon name="bag-handle-outline"></ion-icon> -
                £{{ total|floatformat:2 }}
            </a>
        </div>
    </div>
</div>
{% else %}
{% endif %}
<div class="px-3 px-md-5">
    <div class="container-fluid">
        <div class="row rounded py-3">
            <div class="d-flex flex-column flex-md-row home-menu rounded py-3">
                <div class="home-image mx-auto d-flex justify-content-center">
                    <img class="img-fluid" src="https://images.pexels.com/photos/3786748/pexels-photo-3786748.jpeg"
                        alt="home-image" id="home-image">
                </div>
                <div class="my-auto p-4 text-center col-md-6">
                    <h2 class="menu-card-title courses-title display-6">ENGLISH COURSES FOR YOU!</h2>
                    <hr>
                    <p class="courses-title lead">Welcome!</p>
                </div>
            </div>
            <div class="container">
                <div class="row mt-4 d-flex flex-md-row flex-column justify-content-between">
                    <div class="p-4 home-menu-cards rounded">
                        <h4 class="courses-title">Exam Courses</h4>
                        <hr>
                        <p class="lead">Are you studying for IELTS?  Maybe doing a Cambridge exam?  Check out our exam courses here!</p>
                        <p><a href ="{% url 'courses' %}?category=exams" class="btn btn-outline-success" role="button">View
                                details</a></p>
                    </div>
                    <div class="p-4 home-menu-cards rounded">
                        <h4 class="courses-title">General English Courses</h4>
                        <hr>
                        <p class="lead">Are you travelling soon and want to brush up on your English?  Or are you studying for fun?  Have a look at our courses here!</p>
                            <p><a href ="{% url 'courses' %}?category=general_eng" class="btn btn-outline-success" role="button">View
                                details</a></p>
                    </div>
                    <div class="p-4 home-menu-cards rounded">
                        <h4 class="courses-title">Get in touch</h4>
                        <hr>
                        <p class="lead">Do you have any questions? Or maybe you are studying something very specific. Send us a message now!</p>
                            <p><a href ="{% url 'contact' %}" class="btn btn-outline-success" role="button">Get in touch</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}