{% extends 'base.html' %}

{% load static %}

{% block content %}
{% if total %}
<div class="container-fluid">
    <div class="row w-100 bag-items d-flex justify-content-center bg-success">
        <div class="col-12 text-center bg-white p-2">
            <a class="footer-links p-2 text-center" href="{% url 'bag' %}">View Bag
                <ion-icon name="bag-handle-outline"></ion-icon> -
                £{{ total|floatformat:2 }}
            </a>
        </div>
    </div>
</div>
{% else %}
{% endif %}
<div class="container-fluid">
    <div class="row border-bottom px-3">
            <h2 class="terms-and-conditions py-3 px-2">Privacy Policy</h2>
    </div>

    <div class="mt-4 row px-3">
        <h4>WHO WE ARE:</h4>
        <p class="terms-and-conditions">Our website address is: https://skyeonlineenglish.com.</p>
        <hr>
        <h4>WHAT PERSONAL DATA WE COLLECT AND WHY WE COLLECT IT:</h4>
        <p class="terms-and-conditions"><strong>Comments</strong></p>
        <p class="terms-and-conditions">When visitors leave comments on the site we collect the data shown in the comments
            form, and also the visitor’s IP address and browser user agent string to help spam detection.</p>
        <p class="terms-and-conditions">An anonymized string created from your email address (also called a hash) may be
            provided to the Gravatar service to see if you are using it. The Gravatar service privacy policy is available
            here: https://automattic.com/privacy/. After approval of your comment, your profile picture is visible to the
            public in the context of your comment.</p>
        <p class="terms-and-conditions"><strong>Media</strong></p>
        <p class="terms-and-conditions">If you upload images to the website, you should avoid uploading images with embedded
            location data (EXIF GPS) included. Visitors to the website can download and extract any location data from
            images on the website.</p>
        <p class="terms-and-conditions"><strong>Contact forms</strong></p>
        <p class="terms-and-conditions">If you contact us through our embedded contact form, your data is not retained on
            our website but on our secured server. All information will retained for up to 6 months from date of receipt and
            then permanently removed unless an agreement is met between you and the company.
        </p>
        <p class="terms-and-conditions">We use MailChimp for our mailing list, their terms and conditions can be found here: <a href="https://mailchimp.com/legal/terms/"></a>.
        </p>
        <p class="terms-and-conditions"><strong>Cookies</strong></p>
        <p class="terms-and-conditions">If you leave a comment on our site you may opt-in to saving your name, email address
            and website in cookies. These are for your convenience so that you do not have to fill in your details again
            when you leave another comment. These cookies will last for one year.
        </p>
        <p class="terms-and-conditions">If you visit our login page, we will set a temporary cookie to determine if your
            browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.
        </p>
        <p class="terms-and-conditions">When you log in, we will also set up several cookies to save your login information
            and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If
            you select “Remember Me”, your login will persist for two weeks. If you log out of your account, the login
            cookies will be removed.
        </p>
        <p class="terms-and-conditions">If you edit or publish an article, an additional cookie will be saved in your
            browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited.
            It expires after 1 day.
        </p>
        <p class="terms-and-conditions"><strong>Embedded content from other websites
            </strong></p>
        <p class="terms-and-conditions">Articles on this site may include embedded content (e.g. videos, images, articles,
            etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the
            other website.
        </p>
        <p class="terms-and-conditions">These websites may collect data about you, use cookies, embed additional third-party
            tracking, and monitor your interaction with that embedded content, including tracking your interaction with the
            embedded content if you have an account and are logged in to that website.
        </p>
        <p class="terms-and-conditions"><strong>Who we share your data with
            </strong></p>
        <p class="terms-and-conditions">We will not share your data with any outside party without receiving your consent.
        </p>
        <p class="terms-and-conditions"><strong>How long we retain your data
            </strong></p>
        <p class="terms-and-conditions">If you leave a comment, the comment and its metadata are retained indefinitely. This
            is so we can recognize and approve any follow-up comments automatically instead of holding them in a moderation
            queue.
        </p>
        <p class="terms-and-conditions">For users that register on our website (if any), we also store the personal
            information they provide in their user profile. All users can see, edit, or delete their personal information at
            any time (except they cannot change their username). Website administrators can also see and edit that
            information.
        </p>
        <p class="terms-and-conditions"><strong>What rights you have over your data
            </strong></p>
        <p class="terms-and-conditions">If you have an account on this site, or have left comments, you can request to
            receive an exported file of the personal data we hold about you, including any data you have provided to us. You
            can also request that we erase any personal data we hold about you. This does not include any data we are
            obliged to keep for administrative, legal, or security purposes.
        </p>
        <p class="terms-and-conditions"><strong>Where we send your data
            </strong></p>
        <p class="terms-and-conditions">Visitor comments may be checked through an automated spam detection service.
        </p>
        <p class="terms-and-conditions"><strong>Your contact information
            </strong></p>
        <p class="terms-and-conditions">Your contact information will be retained on our server for six months from our
            final communication. If we receive a request to delete all personal information before the six-month period has
            come to an end, we will do so.
        </p>
        <p class="terms-and-conditions"><strong>Additional information
            </strong></p>
        <p class="terms-and-conditions">Should you have any questions, please feel free to contact us at:
            information@skyeonlineenglish.com

        </p>

    </div>
</div>
{% endblock %}