{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid border-bottom">
    <h2 class="terms-and-conditions py-3 px-2">Terms and Conditions</h2>
</div>
<div class="mt-4 container">
    <h4>1. General</h4>
    <table class="table table-borderless">
        <tbody>
            <tr>
                <th scope="row">1.1</th>
                <td>
                    <p class="terms-and-conditions">A pdf of this document will be sent to the client before
                        confirmation of
                        booking. Skye Online
                        English (hereafter referred to as ‘the company’) regularly updates its course content and this
                        document often changes to show this. The company and the client are bound by the Terms
                        and Conditions laid out in the document. A copy of this document will be emailed to the client
                        at time of booking.</p>
                </td>
            </tr>
            <tr>
                <th scope="row">1.2</th>
                <td>
                    <p class="terms-and-conditions">The company puts the protection of their staff first. Any
                        mistreatment, such as verbal abuse
                        or bullying, will not be tolerated and will result in the client’s course being cancelled with
                        immediate effect.</p>
                </td>
            </tr>
            <tr>
                <th scope="row">1.3</th>
                <td>
                    <p class="terms-and-conditions">Any disputes between the client and the trainer will be resolved by
                        the company in any way
                        which the company deems fair. Each dispute will be handled on a case by case basis.</p>
                </td>
            </tr>
        </tbody>
    </table>

    <h4>2. Academic</h4>
    <table class="table table-borderless">
        <tbody>
            <tr>
                <th scope="row">2.1</th>
                <td>
                    <p class="terms-and-conditions"><strong>ENROLMENT AND PAYMENT</strong></p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.1.1</th>
                <td>
                    <p class="terms-and-conditions"> Enrolment form must be completed and returned. This will be
                        provided by Skye Online
                        English at the time of booking.</p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.1.2</th>
                <td>
                    <p class="terms-and-conditions">A 25% non-refundable deposit or full payment of fees must be paid at
                        time of booking.
                        Booking will not be confirmed until confirmation of receipt of deposit.</p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.1.3</th>
                <td>
                    <p class="terms-and-conditions">The full payment of fees must be paid in full no later than 5 days
                        before tuition starts.
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.1.4</th>
                <td>
                    <p class="terms-and-conditions">Unless payment or proof of payment has been received by the company,
                        tuition will not
                        commence</p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.1.5</th>
                <td>
                    <p class="terms-and-conditions">Fees are payable via website only.</p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.1.6</th>
                <td>
                    <p class="terms-and-conditions">Any bank and credit card charges are payable in full by the sender.
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.1.7</th>
                <td>
                    <p class="terms-and-conditions">All fees are to be paid to the company and not to the trainer.</p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.2</th>
                <td>
                    <p class="terms-and-conditions"><strong>CANCELLATIONS AND REFUNDS</strong></p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.2.1</th>
                <td>
                    <p class="terms-and-conditions">The company reserves the right to cancel at any time during your
                        tuition with any remaining
                        time refunded to the client. A breakdown of costs will be supplied to the client.</p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.2.2</th>
                <td>
                    <p class="terms-and-conditions">If the client cancels their booking more than five (5) days from the
                        start of tuition, the deposit
                        will not be refunded. If all fees have been paid, then all fees minus the deposit will be
                        refunded.</p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.2.3</th>
                <td>
                    <p class="terms-and-conditions">If the client cancels their booking less than five (5) days from the
                        start of tuition, after the
                        company has received full payment, we will charge 50% of tuition fees (with the deposit
                        inclusive) and refund the remaining fees paid.</p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.2.4</th>
                <td>
                    <p class="terms-and-conditions">If the client cancels their booking after the commencement of
                        tuition, there will be no refund.</p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.2.5</th>
                <td>
                    <p class="terms-and-conditions">If the client is late for a face-to-face session and the trainer has
                        been informed, then it is up to
                        the trainer whether to provide a full session.</p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.2.6</th>
                <td>
                    <p class="terms-and-conditions">If the client is late and the trainer has not been informed, then
                        any time missed will not be
                        rescheduled.
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.2.7</th>
                <td>
                    <p class="terms-and-conditions">The company reserves the right to cancel tuition at any time prior
                        to the commencement of
                        the first lesson with all fees paid to be refunded (deposit + tuition fees).</p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.2.8</th>
                <td>
                    <p class="terms-and-conditions">The company reserves the right to cancel your booking at any point
                        during your tuition with
                        all remaining blocks to be refunded in full.</p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.3</th>
                <td>
                    <p class="terms-and-conditions"><strong>ACADEMIA</strong></p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.3.1</th>
                <td>
                    <p class="terms-and-conditions">The company reserves the right to change the trainer at any time.
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.3.2</th>
                <td>
                    <p class="terms-and-conditions">The company will issue a digital certificate on completion of
                        tuition and a short report
                        outlining the course content. These documents are not an official assessment of English
                        ability but the level of the content studied.</p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.3.3</th>
                <td>
                    <p class="terms-and-conditions">Online sessions are to be arranged between the client and the
                        trainer directly. The company
                        is not involved in the timetabling unless either party (client or trainer) requests.</p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.3.4</th>
                <td>
                    <p class="terms-and-conditions">All material studied will be specifically chosen/created to suit the
                        needs of the client by the
                        trainer. </p>
                </td>
            </tr>
            <tr>
                <th scope="row">2.3.5</th>
                <td>
                    <p class="terms-and-conditions">A ‘Needs Analysis’ will be carried out by the company prior to the
                        commencement of tuition.
                        This document allows the company to outline what is needed by the client. This document is
                        only used for the trainer to plan the course content but is available on request.</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}