{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Thank You</h2>
            <hr>
            <p class="text-black">Your order information is below. A confirmation email will be sent to
                <strong>{{ order.email }}</strong>.</p>
        </div>
    </div>
    <div class="table-responsive col-12">
        <table class="table border">
            <tbody>
                <tr>
                    <th scope="row"><small class="text-muted">Order Details:</small></th>
                    <td> </td>
                </tr>
                <tr>
                    <th scope="row">Order Number:</th>
                    <td>
                        <p class="mb-0">{{ order.order_number }}</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Order Date:</th>
                    <td>
                        <p class="mb-0">{{ order.date }}</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Courses Booked:</th>
                    <td></td>
                </tr>
                {% for item in order.lineitems.all %}
                <tr>
                    <td scope="row" class="align-middle">{{ item.course.name }} </td>
                    <td>
                        <p class="small mb-0 text-black font-weight-bold">
                            Duration: {{ item.course.course_length }} hours</p>
                        <p class="small mb-0 text-black font-weight-bold">
                            Price: £{{ item.course.price }} per course</p>
                    </td>
                </tr>
                {% endfor %}

                <tr>
                    <th scope="row"><small class="text-muted">Contact Details:</small></th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Phone Number:</th>
                    <td>
                        <p class="mb-0">{{ order.phone_number }}</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Email Address:</th>
                    <td>
                        <p class="mb-0">{{ order.email }}</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><small class="text-muted">Billing Info:</small></th>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">Order Total:</th>
                    <td>
                        <h4 class="mb-0">£{{ order.grand_total }}</h4>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive col-12 mt-4">
        <table class="table border">
            <tbody>
                <tr>
                    <th scope="row"><small class="text-muted">Personal Details:</small></th>
                    <td> </td>
                </tr>
                <tr>
                    <th scope="row">Name:</th>
                    <td>
                        <p class="mb-0">{{ order.name }}</p>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Address:</th>
                    <td>
                        <p>{{ order.street_address1 }}</p>
                        {% if order.street_address2 %}
                        <p>{{ order.street_address2 }}</p>
                        {% else %}
                        {% endif %}

                        {% if order.town_or_city %}
                        <p>{{ order.town_or_city }}</p>
                        {% else %}
                        {% endif %}

                        {% if order.county %}
                        <p>{{ order.county }}</p>
                        {% else %}
                        {% endif %}

                        {% if order.postcode %}
                        <p>{{ order.postcode }}</p>
                        {% else %}
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12  text-end my-3">
        <a href="{% url 'index' %}" class="btn btn-outline-success rounded-0">
            BACK TO SHOP
       </a>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            {% if from_profile %}
            <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                <span class="icon mr-2">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </span>
                <span class="text-uppercase">Back to Profile</span>
            </a>
            {% else %}
            <a href="{% url 'index' %}" class="btn btn-black rounded-0 my-2">
                <span class="icon mr-2">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="text-uppercase">Return to Home Page</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}