@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* ............................General styles */

html {
    height:100%;
}

body{
 font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color:#0cad95
}

.site-title-link,
.site-title-link:hover{
    color:#0cad95;
    text-decoration: none;
}



/* ............................home page */

#home-image{
    width: 95%;
    opacity: 0.8;
    border-radius: 15px;
}

.home-menu{
    border: solid 0.1px #b877a9;
    background: #ffffff;
}

.home-menu-cards{
    border: solid 0.1px #b877a9;
    width:32%;
    background: #ffffff;
}

.menu-card-title{
    color: #0cad95;
}

.courses-title{
    font-family: 'Roboto', sans-serif;
}

/* .............................Navbar */

.site-header{
    font-weight: 300;
    margin-right: 10px;
}

.navbar{
    border-bottom: #b877a9 solid 0.1px;
    border-top: #b877a9 solid 0.1px;
    font-family: 'Raleway', sans-serif;
}

.navbar-brand{
    font-size: 1.5em;
}

.header-2{
    display:none;
}

.users-page-link,
.logout-link,
.login-link,
.sign-up-link{
    font-weight: 700;
}

.logout-link > .nav-item > .nav-link,
.users-page-link > .nav-item > .nav-link,
.login-link > .nav-item > .nav-link,
.sign-up-link > .nav-item > .nav-link{
    color: #0cad95;
}

/* .............................footer */

.footer-cards{
    width:33%;
    background: #ffffff;
}

.footer-text{
    font-weight: 300;
}

.footer-links{
    text-decoration: none;
    color: #b877a9;
}

.footer-links:hover{
    color: #000000;
}

.social-media-icons a{
    color: #b877a9;
    font-size: 200%;
}

.social-media-icons a:hover{
    color: #0cad95;
    text-decoration: underline;
}

/* ............terms and conditions + privacy policy */

.terms-and-conditions{
    font-family: 'Roboto', sans-serif;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

/* .............................courses */

.course-card{
    border: solid 0.1px #b877a9;
    background: #ffffff;
    width:30%
}

.course-price{
    color: #b877a9;
}

.course-details{
    border: solid 0.1px #b877a9;
    font-family: 'Roboto', sans-serif;
}

/* .............................shopping bag */

.bag-item-table-cell{
    width: 30%;
}

.bag-items{
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    background: #c1ece5;
    padding: 2px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 9999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* ............................checkout + profiles */

.stripe-style-input{
    border-radius:0px;
    border: #0cad95 solid 1px;
}

.main-fieldset > .form-group > div,
.address-fieldset > .form-group > div{
    margin-bottom: 5px;
}

.main-fieldset > .form-group > div > input::placeholder,
.address-fieldset > .form-group > div > input::placeholder{
    color: #cacecd;
}

#div_id_country > div > select{
    color: #cacecd;
}

#div_id_country > div > select > option:not(:first-child){
    color: #000000;
}

#profile-update-form > .form-group > div > input::placeholder{
    color: #cacecd;
}

#profile-update-form > #div_id_default_country > div > select{
    color: #cacecd;
}

#profile-update-form > #div_id_default_country > div > select > option:not(:first-child){
    color: #000000;
}

.profile-form-input{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #000000;
}

#card-element{
    padding: 20px;
    border: #0cad95 solid 1px;
}


/* .............................*/
/* ........media queries....... */
/* .............................*/

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .home-image{
        width: 95%;
    }

    .courses-title{
        margin-top: 10%;
    }

    .home-menu-cards, .footer-cards{
        width:100%;
        margin: 1%;
    }

    #site-header{
        font-size: 1.5em;
    }

    .navbar{
        border-top: 0px;
    }

    .header-1{
        display:none;
    }

    .header-2{
        display:block;
    }

    .course-card{
        width:96%;
        margin: 1%;
    }

}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .home-menu-cards,.footer-cards{
        width:95%;
        margin: 1%
    }

    .navbar{
        border-top: 0px;
    }

    .header-1{
        display:none;
    }

    .header-2{
        display:block;
    }

    .lesson-card{
        width:96%;
        margin: 1%;
    }

}



  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .navbar{
        border-top: 0px;
    }

    .header-1{
        display:none;
    }

    .header-2{
        display:block;
    }

}  
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .home-image{
        width: 70%;
    }
}
  
/* Media Query for Large screens */
@media (min-width: 1281px) {
    .home-image{
        width: 70%;
    }
}