@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* ............................General styles */

html {
    height:100%;
}

body{
 font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    color:#0cad95
}

.site-title-link,
.site-title-link:hover{
    color:#0cad95;
    text-decoration: none;
}

/* ............................home page */

#home-image{
    width: 95%;
    opacity: 0.8;
    border-radius: 15px;
}

.home-menu{
    border: solid 0.1px #b877a9;
    background: #ffffff;
}

.home-menu-cards{
    border: solid 0.1px #b877a9;
    width:32%;
    background: #ffffff;
}

.menu-card-title{
    color: #0cad95;
}

.courses-title{
    font-family: 'Roboto', sans-serif;
}

/* .............................Navbar */

.site-header{
    font-weight: 300;
    margin-right: 10px;
}

.navbar{
    border-bottom: #b877a9 solid 0.1px;
    border-top: #b877a9 solid 0.1px;
    font-size: 15px;
}

.header-2{
    display:none;
}

.users-page-link,
.logout-link,
.login-link,
.sign-up-link{
    font-weight: 700;
    color: #0cad95 !important;
    display: inline;
}

#user-auth-manage,
#user-auth-signup,
#user-auth-profile,
#user-auth-logout,
#user-auth-login{
    color: #0cad95 !important;
}

/* .............................footer */

.footer-cards{
    width:33%;
    background: #ffffff;
}

.footer-text{
    font-weight: 300;
}

.footer-links{
    text-decoration: none;
    color: #b877a9;
}

.footer-links:hover{
    color: #000000;
}

.social-media-icons a{
    color: #b877a9;
    font-size: 200%;
}

.social-media-icons a:hover{
    color: #0cad95;
    text-decoration: underline;
}

/* ...........................................allauth */

.allauth-form-inner-content > form > .form-group > div > input{
    border: #0cad95 1px solid;
    border-radius: 0%;
    margin: 5px 0px 10px 0px;
}

#div_id_remember{
    padding: 0px;
}

#div_id_remember > #id_remember{
    margin-right: 10px;
}

/* ............terms and conditions + privacy policy */

.terms-and-conditions{
    font-family: 'Roboto', sans-serif;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

/* .............................courses */

.course-card{
    border: solid 0.1px #b877a9;
    background: #ffffff;
    width:30%
}

.course-price{
    color: #b877a9;
}

.course-details{
    border: solid 0.1px #b877a9;
    font-family: 'Roboto', sans-serif;
}

/* .............................shopping bag */

.bag-item-table-cell{
    width: 30%;
}

.bag-items{
    position: fixed;
    bottom: 0px;
    z-index: 9999;
    background: #c1ece5;
    padding: 4px;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 9999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* ............................checkout + profiles */

.stripe-style-input{
    border-radius:0px;
    border: #0cad95 solid 1px;

}

.main-fieldset > .form-group > div,
.address-fieldset > .form-group > div{
    margin-bottom: 5px;
}

.main-fieldset > .form-group > div > input::placeholder,
.address-fieldset > .form-group > div > input::placeholder{
    color: #cacecd;
}

#div_id_country > div > select{
    color: #cacecd;
}

#div_id_country > div > select > option:not(:first-child){
    color: #000000;
}

#profile-update-form > .form-group > div > input::placeholder{
    color: #cacecd;
}

#profile-update-form > #div_id_default_country > div > select{
    color: #cacecd;
}

#profile-update-form > #div_id_default_country > div > select > option:not(:first-child){
    color: #000000;
}

.profile-form-input{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #000000;
}

#card-element{
    padding: 20px;
    border: #0cad95 solid 1px;
    width: 100%;
}

.warning-charge{
    margin-bottom: 20px;;
}

.loading-overlay {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(199, 196, 199, 0.45);
    z-index: 9999;
}

.loading-message{
    border: 1px solid #b877a9;
    background: #ffffff;
    position: absolute;     
    top: 45%;
    left: 40%;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

/* .........................Contact Form*/


.contact-form > form > .form-group > div > input,
.contact-form > form > .form-group > div > textarea,
.contact-form > form > .form-group > div > select{
    border: #0cad95 solid 1px;
    border-radius: 0%;
    margin: 5px 0px 10px 0px;
}

/* .........................LMS*/

.lms-cards{
    width: 25%;
}

.exam-overview,
.sample-question,
.how-to-do-it,
.conclusion{
    border: 1px solid #b877a9;
}

.exam-overview > p > strong,
.sample-question > p > strong,
.how-to-do-it > p > strong,
.conclusion > p > strong{
    color: #0cad95;
}

.how-to-do-it > p > em{
    color: #b877a9;
}

.exam-overview > ul{
    margin-top: 10px;
}

.sample-question > div > table,
.sample-question > div > table > tbody > tr,
.sample-question > .questions > div > table > tbody > tr > td{
    border:none;
}

.how-to-do-it > blockquote{
    border-top: solid 1px #0cad95;
    border-bottom: solid 1px #0cad95;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sample-question,
.how-to-do-it,
.conclusion{
    display: none;
}

.progress-bar{
    background: #0cad95;
    height: 2px;
}

.video-mobile-screen{
    display: none;
}

.video-full-screen{
    display: block;
}

/* .........................Course Management*/

.add-new-course-form,
.add-new-lesson-form,
.add-lesson-category-form{
    border: #b877a9 1px solid;
    padding: 20px
}

.add-new-course-form > form > div > div > .form-control,
.add-new-lesson-form> form > div > div > .form-control,
.add-lesson-category-form> form > div > div > .form-control{
    border: #0cad95 1px solid;
    border-radius: 0px;
}

.add-new-course-form > form > div > label,
.add-new-lesson-form > form > div > label,
.add-lesson-category-form > form > div > label{
    margin-top: 10px;
    margin-bottom: 10px;
}

#add-new-content,
#edit-lesson-content,
#edit-shop-content{
    display: none;
}

#add-hide-btn,
#edit-hide-btn,
#add-shop-hide-btn{
    display: none;
}

#add-show-btn,
#add-hide-btn,
#edit-show-btn,
#edit-hide-btn,
#add-shop-show-btn,
#add-shop-hide-btn{
    cursor: pointer;
}
/* .............................Mail Chimp*/
#mce-EMAIL{
    border: #0cad95 solid 1px;
    border-radius: 0%;
    margin: 5px 0px 10px 0px;
}

/* .............................*/
/* ........media queries....... */
/* .............................*/

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .home-image{
        width: 95%;
    }
    .courses-title{
        margin-top: 10%;
    }
    .home-menu-cards, .footer-cards{
        width:100%;
        margin: 1%;
    }
    #site-header{
        font-size: 1.5em;
    }
    .navbar{
        border-top: 0px;
    }
    .header-1{
        display:none;
    }
    .header-2{
        display:block;
    }
    .course-card{
        width:96%;
        margin: 1%;
    }
    .lms-cards{
        width: 95%;
    }
    .video-mobile-screen{
        display:block;
    }
    .video-full-screen{
        display: none;
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .home-menu-cards,.footer-cards{
        width:95%;
        margin: 1%
    }
    .navbar{
        border-top: 0px;
    }
    .header-1{
        display:none;
    }
    .header-2{
        display:block;
    }
    .lesson-card{
        width:96%;
        margin: 1%;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .navbar{
        border-top: 0px;
    }
    .header-1{
        display:none;
    }
    .header-2{
        display:block;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    .home-image{
        width: 70%;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    .home-image{
        width: 70%;
    }
}