{% extends 'base.html' %}

{% block extrameta %}
<meta name="keywords" content="{{ course.course_meta }}">
{% endblock extrameta %}
{% block content %}
{% if total %}
<div class="container-fluid">
    <div class="row w-100 bag-items d-flex justify-content-center bg-success">
        <div class="col-12 text-center bg-white p-2">
            <a class="footer-links p-2 text-center" href="{% url 'bag' %}">View Bag
                <ion-icon name="bag-handle-outline"></ion-icon> -
                £{{ total|floatformat:2 }}
            </a>
        </div>
    </div>
</div>
{% else %}
{% endif %}
<div class="container-fluid">
    <div class="col-12 px-3">
        <div class="course-details p-3">
            <h2 class>{{ course.name }}</h2>
            <hr class="my-4">
            {{ course.card_description|safe }}
            {{ course.description | safe }}
            <hr class="my-5">
            {% if user.is_authenticated %}
            <div class="form">
                <form class="form" action="{% url 'add_to_bag' course.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-12">
                            <div class="form-group w-75">
                                <h5>Add to bag:</h5>
                                <div class="input-group d-flex justify-content-between border-bottom align-items-center">
                                    <div><h6 class="my-2">{{ course.name }}</h6></div>
                                    <div><h6 class="my-2">£{{ course.price }}</h6></div>
                                    <input class="form-control qty_input my-2 d-none" type="number" name="quantity" value="1"
                                    min="1" max="99" data-item_id="{{ course.id }}" id="id_qty_{{ course.id }}">
                                <input type="submit" class="btn btn-outline-success rounded-0 text-uppercase my-2"
                                    value="Add to Bag">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
            {% else %}
            <div class="col-12 d-flex justify-content-center">
                <h4 class="login-text pb-3 text-center">Please sign up or log in to make a purchase</h4>
            </div>
            <div class="col-12 d-flex flex-row">
                <div class="col-6 d-flex justify-content-end px-1">
                    <p class="py-2"><a class="btn btn-outline-success rounded-0" href="{% url 'account_login' %}">Log In</a></p>
                </div>
                <div class="col-6 px-1">
                    <p class="py-2"><a class="btn btn-outline-success rounded-0" href="{% url 'account_signup' %}">Sign Up</a></p>
                </div>
            </div>
            {% endif %}
            <div class="col-12 my-4">
                <a href="{{request.META.HTTP_REFERER}}" class="footer-links"> &laquo; Back to previous page</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}