{% extends 'base.html' %}

{% block content %}
{% if total %}
<div class="container-fluid">
    <div class="row w-100 bag-items d-flex justify-content-center bg-success">
        <div class="col-12 text-center bg-white p-2">
            <a class="footer-links p-2 text-center" href="{% url 'bag' %}">View Bag
                <ion-icon name="bag-handle-outline"></ion-icon> -
                £{{ total|floatformat:2 }}
            </a>
        </div>
    </div>
</div>
{% else %}
{% endif %}

<div class="container-fluid px-3">
    <h2 class="m-3">Courses:</h2>
</div>
<div class="container-fluid">
    <div class="row mt-4 mx-auto d-flex flex-md-row flex-column">
        {% for course in courses %}
        <div class="p-3 m-2 course-card">
            <h4 class="pb-2">{{ course.name }}</h4>
            <p>{{ course.card_description|safe }}</p>
            <hr>
            <p>Course Length = {{ course.course_length }}</p>
            <p class="course-price">Price - £{{ course.price }}</p>
            <a href="{% url 'course_details' course.id %}" class="btn btn-outline-success">More Details</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}