{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid px-5">
    <div class="row border-bottom">
        <h2 class="m-3">Edit Course in Shop</h2>
    </div>
</div>
<div class="container my-4">
    <div class="row">
        <div class="col-12 add-new-lesson-form">
            <form method="POST" action="{% url 'edit_shop_content' course.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="text-right my-3">
                    <button class="btn btn-outline-success rounded-0" type="submit">Edit Shop Course</button>
                </div>
            </form>
        </div>            
    </div>
</div>
<div class="container return-to-shop py-4 border-top">
    <a href="{% url 'manage' %}" class="btn btn-outline-success rounded-0">Return to Course Management Without Saving</a>
</div>

{% endblock %}




