{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid px-5">
    <div class="row border-bottom">
        <h2 class="m-3">Edit Lesson Content</h2>
    </div>
</div>


<div class="container-fluid">
    <div class="row mt-4 mx-auto d-flex flex-md-row flex-column">
        
        <div class="table-responsive">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Lesson Name</th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Lesson Focus</th>
                    <th scope="col">View Lesson</th>
                    <th scope="col">Edit Lesson</th>
                    <th scope="col">Delete Lesson</th>
                  </tr>
                </thead>
                <tbody>
                    {% for lesson in lessons %}
                  <tr>
                    <th scope="row">{{ lesson.id }}</th>
                    <td>{{ lesson.category }}</td>
                    <td>{{ lesson.exam_section }}</td>
                    <td><a href="{% url 'lms_content' lesson.id %}" class="btn btn-outline-success rounded-0">View Lesson</a>
                    </td>
                    <td><a href="{% url 'edit_lesson' lesson.id %}" class="btn btn-outline-info rounded-0">Edit Lesson</a>
                    </td>
                    <td><a href="" class="btn btn-outline-danger rounded-0">Delete Lesson</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>

        
    </div>
</div>
{% endblock %}