{% extends 'base.html' %}

{% load static %}

{% block content %}

{% if courses_bought %}

<div class="container-fluid">
    <h2 class="m-3">Let's get started</h2>
</div>
<div class="container">
    <div class="row mt-4 mx-auto d-flex flex-md-row flex-column">
        {% for lesson in lessons %}
        {% for course in courses_bought %}
        {% if course.course_category == lesson.category %}
        <div class="card mb-3 p-2 m-2 lms-cards">
            <img class="card-img-top pt-2" src="{% static 'media/' %}{{lesson.question_image}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title py-3">{{ lesson.category.id }} - {{ lesson.name }}- {{ lesson.course_section }}</h5>
                <p class="card-text">Question Type - {{ lesson.question_type }}</p>
                <a href="{% url 'lms_content' lesson.id %}" class="btn btn-outline-success rounded-0">Start Studying</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% else %}

<div class="container-fluid text-center p-5">
    <h2 class="m-3">You haven't bought any courses yet.</h2>
    <a href="{% url 'index' %}" class="btn btn-outline-success rounded-0">CLICK HERE TO RETURN HOME</a>
</div>

{% endif %}

{% endblock %}