{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <h2 class="m-3">Let's get started</h2>
</div>
User: {{ user }}
<br>
Categories: {{ categorys }}
<br>
FOR:
{% for category in categorys %}

{{ category.name }}

{% endfor %}


<br>
Courseskills: {{ courseskills }}
<br>
{% for courseskill in courseskills %}
{{ courseskill.category }}
{% endfor %}

<br>

<br>
Courses Bought by user: {{ courses }}
<br>

{% for course in courses %}
{{ course.courseskill }}
<br>


{% endfor %}


<br>



<div class="container-fluid">
    <div class="row mt-4 mx-auto d-flex flex-md-row flex-column">
        {% for courseskill in courseskills %}
        <div class="card mb-3 p-2 m-2 lms-cards">
            <img class="card-img-top pt-2" src="{% static 'media/' %}{{courseskill.question_image}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title py-3">{{ courseskill.category.id }} - {{ courseskill.name }}- {{ courseskill.course_section }}</h5>
                <p class="card-text">Question Type - {{ courseskill.question_type }}</p>
                <a href="{% url 'lms_content' courseskill.id %}" class="btn btn-outline-success rounded-0">Start Studying</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}