{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block content %}
<div class="container-fluid p-3 ">
    <h2 class="mx-3 border-bottom pb-2">{{ lesson.category }} - {{ lesson.exam_section }} - {{ lesson.name }}
    </h2>
</div>
<div id="exam-overview" class="container exam-overview p-4 mb-3">
    <h3 class="border-bottom mb-3 pb-2">Overview</h3>
    {{ lesson.question_overview | safe }}
    <div class="nav-button text-end my-3">
        <button type="button" class="btn btn-outline-info" onclick="displaySampleQuestion()">Next
            Section</button>
    </div>
    <div class="progress-bar col-3 mt-4"></div>
    <div class="progress-bar-text">Progress = 25%</div>
</div>
<div id="sample-question" class="container sample-question p-4  mb-3">
    <h3 class="border-bottom mb-3 pb-2">Sample</h3>
    {% if lesson.sample_question_text %}
    {{ lesson.sample_question_text | safe }}
    {% else %}
    {% endif %}
        {{lesson.sample_question_questions | safe}}
    <div class="nav-button d-flex justify-content-between my-3">
        <button type="button" class="btn btn-outline-info" onclick="displayExamOverview()">Previous Section</button>
        <button type="button" class="btn btn-outline-info" onclick="displayHowToDoIt()">Next Section</button>
    </div>
    <div class="progress-bar col-6 mt-4"></div>
    <div class="progress-bar-text">Progress = 50%</div>
</div>
<div id="how-to-do-it" class="container how-to-do-it p-4  mb-3">
    <h3 class="border-bottom mb-3 pb-2">How to do it</h3>
    {% if lesson.video %}
    <div class="video-full-screen text-center">{% video lesson.video %}</div>
    <div class="video-mobile-screen text-center">{% video lesson.video '100% x 70%' %}</div>
    {% else %}
    {% endif %}
    {{lesson.question_approach | safe}}
    <div class="nav-button d-flex justify-content-between my-4">
        <button type="button" class="btn btn-outline-info" onclick="displaySampleQuestion()">Previous Section</button>
        <button type="button" class="btn btn-outline-info" onclick="displayConclusion()">Next Section</button>
    </div>
    <div class="progress-bar col-9 mt-4"></div>
    <div class="progress-bar-text">Progress = 75%</div>
</div>
<div id="conclusion" class="container conclusion p-4  mb-3">
    <h3 class="border-bottom mb-3 pb-2">Try it yourself</h3>
    <div class="download-task-descrpition">
        {{lesson.further_study | safe}}
    </div>
    {% if lesson.upload_questions %}
    <div class="sample-question-downloads d-flex flex-row my-3">
        <div class="download-questions p-3 col-6 text-end">
            <a class="btn btn-outline-success" href="{{lesson.upload_questions.url}}" target="_blank">Download Sample
                Questions</a>
        </div>
        <div class="download-answers p-3 col-6">
            <a class="btn btn-outline-success" href="{{lesson.upload_answers.url}}" target="_blank">Download Sample
                Answers</a>
        </div>
    </div>
    {% else %}
    {% endif %}
    <div class="nav-button d-flex justify-content-between my-3">
        <button type="button" class="btn btn-outline-info" onclick="displayHowToDoIt()">Previous Section</button>
        <a href="{% url 'lms' %}" class="btn btn-info">Back to Contents</a>
    </div>
    <div class="progress-bar col-12 mt-4"></div>
    <div class="progress-bar-text">Progress = 100%</div>
</div>

<script>
    let examOverview = document.getElementById('exam-overview');
    let sampleQuestion = document.getElementById('sample-question');
    let howToDoIt = document.getElementById('how-to-do-it');
    let conclusion = document.getElementById('conclusion');

    function displaySampleQuestion() {
        examOverview.style.display = 'none';
        howToDoIt.style.display = 'none';
        conclusion.style.display = 'none';
        sampleQuestion.style.display = 'block';
        document.body.scrollTop = document.documentElement.scrollTop = 0;
    }

    function displayExamOverview() {
        howToDoIt.style.display = 'none';
        sampleQuestion.style.display = 'none';
        conclusion.style.display = 'none';
        examOverview.style.display = 'block';
        document.body.scrollTop = document.documentElement.scrollTop = 0;
    }

    function displayHowToDoIt() {
        sampleQuestion.style.display = 'none';
        examOverview.style.display = 'none';
        conclusion.style.display = 'none';
        howToDoIt.style.display = 'block';
        document.body.scrollTop = document.documentElement.scrollTop = 0;
    }

    function displayConclusion() {
        howToDoIt.style.display = 'none';
        examOverview.style.display = 'none';
        sampleQuestion.style.display = 'none';
        conclusion.style.display = 'block';
        document.body.scrollTop = document.documentElement.scrollTop = 0;
    }

</script>
{% endblock %}