{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="description" content="Skye Online Enlgish is an online English langauge learning website where the emphasis is on self-study exam courses.">
    <meta name="keywords" content="English, language, IELTS, CAE, CPE, FCE, PET, exam, university, teaching, grammar, vocabulary, reading, writing, speaking, listening, pronunciation">

    {% endblock meta %}

    {% block extrameta %}
    {% endblock extrameta %}

    {% block corecss %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock corecss %}

    {% block extracss %}
    {% endblock extracss %}

    {% block corejs %}
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    
    <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>

    <!-- Stripe -->
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

    {% endblock corejs %}

    {% block extrajs %}
    {% endblock extrajs %}
 
<title>Skye Online English</title>
</head>
<body>
    <header id="header" class="mb-3">
        <div class="container-fluid pt-3">
            <div class="header-1 mt-2 mb-4 mx-2">
                <h1 class="menu-card-title site-header"><a class="site-title-link" href="{% url 'index' %}">SKYE ONLINE ENGLISH</a></h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="site-title header-2 my-2">
                            <p class="h1 menu-card-title site-header"><a class="site-title-link" href="{% url 'index' %}">SKYE ONLINE ENGLISH</a></p>
                        </div>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse d-lg-flex justify-content-between"
                            id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'courses' %}">All Courses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'courses' %}?category=general_eng">General
                                        English</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'courses' %}?category=exams">Exam Skills</a>
                                </li>
                                {% if user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                    <li class="nav-item active users-page-link">
                                        <a class="nav-link" id="user-auth-manage" href="{% url 'manage' %}">{{ user.username }}'s' Page</a>
                                    </li>
                                    {% else %}
                                    <li class="nav-item active users-page-link">
                                        <a class="nav-link" id="user-auth-profile" href="{% url 'profile' %}">{{ user.username }}'s Profile Page</a>
                                    </li>
                                    {% endif %}
                                    <li class="nav-item active logout-link">
                                        <a class="nav-link" id="user-auth-logout" href="{% url 'account_logout' %}">Logout</a>
                                    </li>
                                {% else %}
                                    <li class="nav-item active login-link">
                                        <a class="nav-link" id="user-auth-login" href="{% url 'account_login' %}">Login</a>
                                    </li>
                                    <li class="nav-item active sign-up-link">
                                        <a class="nav-link" id="user-auth-signup" href="{% url 'account_signup' %}">Sign up</a>
                                    </li>
                                {% endif %}
                            </ul>
                            <div class="form">
                                <form method="GET" action="{% url 'courses' %}"
                                    class="form-inline my-2 my-lg-0 flex d-flex flex-row">
                                    <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search"
                                        aria-label="Search">
                                    <button class="btn btn-outline-success my-2 mx-2 my-sm-0"
                                        type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

{% block content %}{% endblock content %}

<footer class="pb-4">
        <div class="container-fluid footer-container border-top">
            <div class="row mt-4 mx-2 d-flex flex-md-row flex-column justify-content-between">
                <div class="p-2 footer-cards rounded">
                    <h6 class="menu-card-title">Courses</h6>
                    <hr>
                    <p class="footer-text"> <a class="footer-links" href="{% url 'index' %}">
                            Home
                            &raquo;</a></p>
                    <p class="footer-text"> <a class="footer-links" href="{% url 'courses' %}">
                            All Courses
                            &raquo;</a></p>
                    <p class="footer-text"> <a class="footer-links" href="{% url 'courses' %}?category=general_eng">
                            General
                            English
                            &raquo;</a></p>
                    <p class="footer-text"><a class="footer-links" href="{% url 'courses' %}?category=exams">
                            Exam Skills
                            &raquo;</a></p>
                </div>
                <div class="p-2 footer-cards rounded">
                    <h6 class="menu-card-title">About Us</h6>
                    <hr>
                    <p class="footer-text"> <a class="footer-links" href="{% url 'privacy_policy' %}">
                            Privacy Policy
                            &raquo;</a></p>
                    <p class="footer-text"> <a class="footer-links" href="{% url 'terms_and_conditions' %}">
                            Terms and Conditions
                            &raquo;</a></p>
                            <p class="footer-text"> <a class="footer-links" href="{% url 'contact' %}">
                                Contact Us
                                &raquo;</a></p>
                    <p class="footer-text"><strong>Copyright Skye Online English &copy; 2022</strong></p>
                </div>
                <div class="p-2 footer-cards rounded">
                    <div class="social">
                    <h6 class="menu-card-title">Follow Us</h6>
                    <hr>
                    <div class="social-media-icons d-flex justify-content-around px-5 m-1">
                        <a href="https://www.facebook.com/skyeonlineenglish/" target="_blank" aria-label="facebook" rel="noopener">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                        <a href="https://www.instagram.com/skyeonlineenglish/?hl=en" target="_blank" aria-label="instagram" rel="noopener">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                        <a href="https://uk.linkedin.com/in/douglasmatheson" target="_blank" aria-label="linkedin" rel="noopener">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a> 
                    </div>
                    </div>
                    <div class="subscribe">
                        <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="https://herokuapp.us8.list-manage.com/subscribe/post?u=234b0dbdd5e0d91e0ec0df0ad&amp;id=cffbfffeb0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll" class="p-2">
                                <h6 class="menu-card-title">Sign Up for our Newsletter!</h6>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL" class="small">Email Address  <span class="asterisk">*</span>
                        </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_234b0dbdd5e0d91e0ec0df0ad_cffbfffeb0" tabindex="-1" value=""></div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="my-1 btn btn-sm btn-outline-success rounded-0">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
        </div>
</footer>

{% block postload_js %}
<script>
    $('.toast').toast('show');
</script>
{% endblock postload_js %}

<!-- Icon Pack -->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>