{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
  <div class="col-12 d-flex flex-row justify-content-between py-3 border-bottom align-items-center">
    <div>
      <h2 class="m-3">Inbox</h2>
    </div>
    <div class="d-flex">
        <div><a href="{% url 'lms' %}" class="m-1 btn btn-outline-success rounded-0">OPEN LMS</a></div>
        <div><a href="{% url 'manage' %}" class="m-1 btn btn-outline-success rounded-0">Manage Content</a></div>
        <div><a href="{% url 'contact_inbox' %}" class="m-1 btn btn-outline-success rounded-0">Go to Inbox</a></div>
    </div>
  </div>
</div>
<div class="container">
<table class="table table-sm my-4">
    <thead>
      <tr>
        <th scope="col">From</th>
        <th scope="col">Subject</th>
        <th scope="col">Date Received</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for email in emails %}
      <tr>
        <th scope="row">{{ email.email }}</th>
        <td>{{ email.subject|truncatechars:20 }}</td>
        <td>{{ email.date }}</td>
        <td><a href="{% url 'contact_received_email' email.id %}" class="btn btn-outline-success btn-sm rounded-0">View Message</a></td>
        <td><a href="{% url 'delete_email' email.id %}" class="btn btn-outline-danger btn-sm rounded-0">Delete Message</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}